<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Sub Particles</title>
</head>
<a href="/" class="nav">home</a>
<h1>Sub Particles</h1>
<p>is a way to create a virtual community for a YouTube channel's fanbase. Every channel's particle system is populated with the same number of particles as channel subscribers. Particles can be claimed by fans and given a custom name. If there are no unclaimed particles in the system then a new one can be spawned by subscribing to the YouTube channel. Created by <a href="https://www.youtube.com/@ranchgod3752" class="link" target="_blank">Reese</a> and <a href="https://www.youtube.com/@charlieuu" class="link" target="_blank">Charlie</a>.
</p>
<h2>Systems:</h2>
<div class="grid">
    <div class="container">
        <a href="/particles/reese" onclick="changeDB('reese')" class="button">Reese's Particles</a>
        <div class="g-ytsubscribe" data-channelid="UCzHr-aK0GePw7urejbCVx7A" data-layout="full" data-count="default"></div>
    </div>
    <div class="container">
        <a href="/particles/charlie" onclick="changeDB('charlie')" class="button">Charlie's Particles</a>
        <div class="g-ytsubscribe" data-channelid="UCn5vXNSynzKnO_PZtvgqTEQ" data-layout="full" data-count="default"></div>
    </div>
</div>

<script src="https://apis.google.com/js/platform.js"></script>