<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Sub Particles</title>
</head>
<body>
    {{#particles}}
        <div
            data-is-particle="true"
            data-fb-key="{{key}}"
            data-access-key="{{access_key}}"
            data-claimed="{{claimed}}"
            data-nickname="{{nickname}}"
            class="noshow"
        ></div>
    {{/particles}}
    <a href="/" class="nav">home</a>
    <div id="db-holder">{{currentDb}}</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js"></script>
    <script src="../static/javascript/PostClaimParticle.js"></script>
    <script src="../static/javascript/MainCanvas.js"></script>
</body>
</html>