body {
    background-color: black;
}

.noshow {
    display: none;
}

h1{
    color: rgb(230, 230, 230);
    text-decoration: underline;
    text-align: center;
}
h2{
    color: rgb(230, 230, 230);
    text-align: center; 
}
p{
    color: rgb(215, 215, 215);
    max-width: 75%;
    text-align: center;
    margin: auto;
    font-size: larger;
}
a.nav{
    font-size: x-large;
    color: rgb(123, 123, 255);
}
a.link{
    color: rgb(123, 123, 255);
}
.grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a.button{
    font-size: x-large;
    margin: 0 auto;
    color: rgb(123, 123, 255);
}

